
.container {
    overflow: hidden;
    .portfolio {
        display: flex;
        min-width: 600px;
        max-width: 900px;
        height: 400px;
        margin: 4rem auto;
    
    }
    .image {
        min-width: 60px;
        margin: 10px;
        cursor: pointer;
        transition: 0.5s cubic-bezier(0.55, 0.61, 0.41, 0.95);
        overflow: hidden;
        position: relative;
        &.active {
            flex-grow: 100;
            max-width: 600px;
            margin: 0px;
            border-radius: 7px;
            background-size: auto 100%;
        }
        &:not(.active){
            flex-grow: 1;
            border-radius: 5px;
        
        }
    }
    .text-container {
        width: 100%;
        height: 400px;
        padding: 2rem;
        visibility: hidden;
        transform: translateY(400px);
        opacity: 0;
        transition: all .4s ease;
        background: linear-gradient(354deg, black 0%, transparent 72%);
        color: white;
        overflow: hidden;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        & a{
            color: white;
            &:hover{
                color: $color-hover;
            }
        }
    }
    .text {
        position: absolute;
        bottom: 5rem;
    }
    
    .active .text-container{
        visibility: visible;
        transform: translateY(0px);
        opacity: 1;
    }

}



