html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.123);
  a {
    text-decoration: none;
    color: inherit;
  }
  webkit-tap-highlight-color: $color-primary;
}

li {
  list-style: none;
}
p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: $color-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
}
