body {
    font-family: 'Expletus Sans', cursive;
    color: $color-primary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Expletus Sans', cursive;
    font-weight: 900;
    font-size: 3rem;
    font-style: italic;
}

textarea {
    font-family: 'Expletus Sans', cursive;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Expletus Sans', cursive;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}