

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@font-face {
    font-family: "font-1";
    src: url(./assets/NotoSans-Medium.ttf)
}



body{
    font-family: "font-1", sans-serif;
    background: url(./assets/bg.jpg) no-repeat fixed center/cover;
}

h1 {
   text-transform: uppercase; 
   letter-spacing: 2px;
   font-size: 2.5rem;
   color: rgb(2, 2, 85);
   text-shadow: 5px 3px 0 #2f4b4b70;
   /* ici 5px = axe des X, puis 3 axe des Y  et en dernier c'est le blur (flou) */
   text-align: center;
   font-family: 'Playfair Display', sans-serif;
   
}
main {
    background: rgba(245, 245, 245, 0.747);
    width: 90%;
    min-height: 500px;
    margin: 10px auto;
    /*  Pour margin, quand que 2 valeurs, 1ere est haut et bas, 2 eme est droite et gauche. Quand 4 valeurs, 1ere est le haut, 2eme est a droite, 3eme est ezn bas et 4eme est a gauche. Auto veut dire qu'il met automatiquement les même marge  */
    padding: 10px 40px;
    border-radius: 10px; /* c'est l'arondi des bord */
    box-shadow: 0 2px 12px 5px #333;

}

.positioning,
.flexbox,
.grid {
    border: 2px solid skyblue;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

/******** POSITIONING *************/

.positioning {
    position:  relative;

}

h2 {
    margin: 0;

}

#circle {
    height: 60px;
    width: 60px;
    background: skyblue;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: 110px;
    box-shadow: 0 2px 12px 5px rgba(51, 51, 51, 0.13);
    z-index: 1;
}

#rectancle {
    height: 15px;
    Width: 100px;
    background: slateblue;
    padding: 20px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);



}

/************************ FLEXBOX *****************/

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
     
}

li {
    list-style-type: none;
    font-size : 0.7rem;
    height: 160px;
    width: 160px;
    background: turquoise;
    /* centrer verticalement, SUPER IMPORTANT */
    display: flex;
    align-items: center;
    justify-content: center;

}
/***************** GRID ***************/

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;

}
.img {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        'i1 i2'
        'ta ta'
        'bt bt';
}
input, textarea {
    margin: 5px;
    height: 45px;
    border: 1px solid darkblue;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: "font-1";

}

#firstname {
    grid-area: i1;
}
#surname {
    grid-area: i2;
}
textarea {
    grid-area: ta;
    resize: none;
}
input[type="submit"] {
    grid-area: bt;
    cursor: pointer;
    background: cyan;
    transition: 0.4s;

}
input[type="submit"]:hover{
    background: url(./assets/bg.jpg);
    color: white;
}

/********** RESPONSIVE ******************/

@media screen and (max-width: 1000px) {
    .grid-container {
        display: block;

    }
}
@media screen and (max-width: 780px) {
    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "i1"
            "i2"
            "ta"
            "bt";
    }
}

