@mixin heading-shadow(
  $color: lightness-shift($color-primary),
  $offset: $heading-shadow-size
) {
  text-shadow: $offset $offset $color;
}

@mixin text-shadow {
  text-shadow: 3px 5px 2px #474747, 5px 7px 0px #ff8b29;
}

@mixin border($color: $color-primary) {
  border: 0.1rem solid $color;
}

@mixin btn {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 0 2rem 25rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;

  /*display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(160, 51, 0);
    outline: 2px solid rgb(255, 150, 64);
    padding: 30px 60px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    &:hover {
        color: #833ab4;
        &::before{
            width: 150%;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 0;
        height: 100%;
        background-color: rgb(230, 4, 4);
        transform: skewX(35deg);
        z-index: -1;
        transition: width 1s;
    } */
}
